* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	min-height: 100vh;
	background: rgb(66, 63, 63);
}

.computer {
	background: rgb(14, 155, 180);
	height: 1.3em;
	border-bottom: 1px dashed;
}

.ball {
	background: red;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 30%;
	left: 30%;
	border-radius: 50%;
	box-shadow: 2px 2px 2px 2px;
}

.player {
	background: rgb(14, 155, 180);
	width: 25%;
	height: 1em;
	position: absolute;
	bottom: 0;
	border-radius: 5px;
	left: 40%;
}
